<section class="contact-section">

	<a name="contact-section"></a>

	<h3 id="contact">Contact</h3>
	<div class="social-links">

		<div class="twitter sc-links"><a target="_blank" a href="https://twitter.com/StrongConj" alt="twitter">{% include icons/twitter.html %}</a></div>
		<div class="behance sc-links"><a target="_blank" href="https://www.behance.net/strongconjunctions" alt="behance">{% include icons/behance.html %}</a></div>
		<div class="github sc-links"><a target="_blank" href="https://github.com/strongconjunctions" alt="github">{% include icons/github.html %}</a></div>
		<div class="linkedin sc-links" alt="linkedin"><a target="_blank" href="https://www.linkedin.com/pub/denis-vyazmin/98/829/605">{% include icons/linkedin.html %}</a></div>

	</div>

	<hr class="separator">
	<div class="mail">
		<a href="mailto:strongconjunctions@gmail.com" class="gmail-link">strongconjunctions@gmail.com</a>
	</div>
</section>