<section class="contact-section">

	<a name="contact-section"></a>

	<h3 id="contact">Contact</h3>
	<div class="social-links">
<!-- 		<a href="https://twitter.com/StrongConj" class="icon-twitter links" alt="t"></a>
<a href="https://www.behance.net/strongconjunctions" class="icon-behance links" alt="be"></a>
<a href="https://github.com/strongconjunctions" class="icon-github-alt links" alt="git"></a>
<a href="https://www.linkedin.com/pub/denis-vyazmin/98/829/605" class="icon-linkedin links" alt="in"></a> -->
		<div class="twitter sc-links"><a target="_blank" href="a href="https://twitter.com/StrongConj>{% include icons/twitter.html %}</a></div>
		<div class="behance sc-links"><a target="_blank" href="https://www.behance.net/strongconjunctions">{% include icons/behance.html %}</a></div>
		<div class="github sc-links"><a target="_blank" href="https://github.com/strongconjunctions">{% include icons/github.html %}</a></div>
		<div class="linkedin sc-links"><a target="_blank" href="https://www.linkedin.com/pub/denis-vyazmin/98/829/605">{% include icons/linkedin.html %}</a></div>
	</div>

	<hr class="separator">
	<div class="mail">
		<a href="mailto:strongconjunctions@gmail.com" class="gmail-link">strongconjunctions@gmail.com</a>
	</div>
</section>